mixin service(image,description)
    .services
        span 
            img(src="../img/"+image) 
        div
            h3=description

mixin left-container(title,description,image)
    .left-content 
        h2=title  
        p=description
    .sidePhoto-img 
        img(src="../img/"+image) 

mixin right-container(title,description,image)
    .right-content 
        h2=title  
        p=description 
    .sidePhoto-img 
        img(src="../img/"+image) 
